input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button 
{ 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] 
{
  -moz-appearance: textfield; /* Firefox */
}

body.dark-mode 
{
  background-color: #181a1b !important;
  color: #f1f1f1 !important;
}

body.dark-mode .card, body.dark-mode .list-group-item, body.dark-mode .form-control, body.dark-mode .form-select 
{
  background-color: #23272b !important;
  color: #f1f1f1 !important;
  border-color: #444 !important;
}

body.dark-mode .btn-outline-dark 
{
  color: #f1f1f1;
  border-color: #f1f1f1;
}

body.dark-mode .form-control, body.dark-mode .form-select {
  background-color: #23272b !important;
  color: #f1f1f1 !important;
  border-color: #444 !important;
}

/* Make sure placeholder text is visible in dark mode */
body.dark-mode .form-control::placeholder, body.dark-mode .form-select::placeholder 
{
  color: #bbb !important;
  opacity: 1 !important;
}

/* For input text inside select (for Chrome/Edge) */
body.dark-mode select, body.dark-mode option 
{
  color: #f1f1f1 !important;
  background-color: #23272b !important;
}